<div class="edit-content">
    <div class="container">
        <div class="row">
            <form action="" class="form-edit">
                <div class="field">
                    <label for="fname">First name</label>
                    <input type="text" id="fname" name="fname" value="John" />
                </div>
                <div class="field">
                    <label for="lname">Last name</label>
                    <input type="text" id="lname" name="lname" value="Rambo">
                </div>
                <div class="field">
                    <label for="phone">Phone number</label>
                    <input type="text" id="phone" name="phone" value="+7 (999) 999-99-99">
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" value="johnrambo@gmail.com">
                </div>
                <div class="field">
                    <label for="compN">Company name</label>
                    <input type="text" id="compN" name="compN" value="U.S.A. Army">
                </div>
                <div class="field">
                    <label for="jobT">Job Title</label>
                    <input type="text" id="jobT" name="jobT" value="Soldier">
                </div>
            </form>
        </div>


        <div class="row">
            <div class="form-edit_buttons">
                <a href="./table.html"><button class="button_back">Назад</button></a>
                <a href="./table.html"><button class="button_edit">Редактировать</button></a>
            </div>
        </div>

    </div>
</div>
