<div class="container">
    <div class="panel">
        <div class="panel-header">
            <div class="panel-header_label">
                Добавить новый контакт
            </div>
            <div class="panel-header_button_cancel">
                <button><img src="../../../assets/img/cancel.svg" alt=""></button>
            </div>
        </div>
        <div class="panel-content">
            <div class="container">
                <div class="row">
                    <form action="" class="form">
                        <div class="field">
                            <label for="fname">First name</label>
                            <input type="text" id="fname" name="fname">
                        </div>
                        <div class="field">
                            <label for="lname">Last name</label>
                            <input type="text" id="lname" name="lname">
                        </div>
                        <div class="field">
                            <label for="phone">Phone number</label>
                            <input type="text" id="phone" name="phone">
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email">
                        </div>
                        <div class="field">
                            <label for="compN">Company name</label>
                            <input type="text" id="compN" name="compN">
                        </div>
                        <div class="field">
                            <label for="jobT">Job Title</label>
                            <input type="text" id="jobT" name="jobT">
                        </div>
                    </form>
                </div>


                <div class="row">
                    <div class="form_buttons">
                        <a href="./table.html"><button class="button_cancel">Отменить</button></a>
                        <a href="./table.html"><button class="button_save">Сохранить контакт</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
